### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data = [4,8,15,16,23,42]

In [3]:
df = pd.Series(data)

In [4]:
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
df.dtypes

dtype('int64')

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [10]:
import pandas as pd

list_type = ["vivek","singh","sudh",1,2,3,7,8,9,10]

In [11]:
df = pd.Series(list_type)

In [12]:
print(df)

0    vivek
1    singh
2     sudh
3        1
4        2
5        3
6        7
7        8
8        9
9       10
dtype: object

### Q3. Create a Pandas DataFrame that contains the given data in table:

Then, print the DataFrame.

### ANS

In [14]:
import pandas as pd

data = {"Name" : ["Alice","Bob", "Claire"], "Age" : [25,30,27], "Gender": ["Female", "Male", "Female"]}

In [15]:
df = pd.DataFrame(data)

In [17]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

### Ans

### 
In Pandas, a DataFrame is a two-dimensional labeled data structure, similar to a spreadsheet or SQL table. It is a collection of Pandas Series objects, where each column represents a different variable and each row represents a different observation.

On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, Python objects, etc.). A DataFrame can be thought of as a collection of Pandas Series with the same length.

In [20]:
import pandas as pd

s = pd.Series([1, 3, 5, 7, 9])

df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [2, 4, 6, 8, 10], 'C': ['a', 'b', 'c', 'd', 'e']})

print(s)
print(df)

0    1
1    3
2    5
3    7
4    9
dtype: int64
   A   B  C
0  1   2  a
1  2   4  b
2  3   6  c
3  4   8  d
4  5  10  e

### 
In the above example, we create a Pandas Series s that contains the values 1, 3, 5, 7, and 9. We also create a Pandas DataFrame df that contains three columns 'A', 'B', and 'C' with five rows of data. The first two columns contain integers and the third column contains strings. We can see that a Series is a one-dimensional array, whereas a DataFrame is a two-dimensional array with rows and columns.

### 
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

### 
1-fillna(): This function is used to replace missing or NaN values in the DataFrame with a specified value or method. For example, you can use this function to replace missing values with the mean of the column:

In [22]:
df.fillna(df.mean())

/tmp/ipykernel_660/3020038484.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean())

   A   B  C
0  1   2  a
1  2   4  b
2  3   6  c
3  4   8  d
4  5  10  e

### 
2-drop(): This function is used to drop rows or columns from the DataFrame based on a specified condition. For example, you can use this function to drop all rows where the value of column 'A' is NaN:

In [23]:
df.dropna(subset=['A'])

   A   B  C
0  1   2  a
1  2   4  b
2  3   6  c
3  4   8  d
4  5  10  e

### 
3-groupby(): This function is used to group data in the DataFrame based on a specified column or multiple columns. For example, you can use this function to group the data by 'column1' and calculate the mean of 'column2' for each group:

In [35]:
df1 = df.groupby('columns').mean()

KeyError: 'columns'

### 
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

### ANS
Both Series and DataFrame are mutable in nature in Pandas. However, Panel is considered deprecated and replaced by MultiIndex DataFrame in the latest versions of Pandas.

###
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [26]:
import pandas as pd


names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([30, 25, 40])
countries = pd.Series(['USA', 'Canada', 'Australia'])


df = pd.DataFrame({'Name': names, 'Age': ages, 'Country': countries})


print(df)

      Name  Age    Country
0    Alice   30        USA
1      Bob   25     Canada
2  Charlie   40  Australia

###
This code creates three Series for the names, ages, and countries of some people. Then, the pd.DataFrame() function is used to combine these Series into a single DataFrame, where the column names are specified as a dictionary where the keys are the desired column names and the values are the Series.